@media (max-width: 640px) {
    .puzzle-container {
        position: revert !important;
        display: revert !important;
        overflow: auto !important;
        padding-block-end: 350px !important;
    }

    .puzzle-content {
        position: revert !important;
        display: revert !important;
    }

    .puzzle-display-mobile {
      padding-bottom: 1rem !important;
      min-height: revert !important;
    }

    .solved-expressions {
        display: revert !important;
    }
}
