:root {
  --bcc-color-0: light-dark(oklch(1 0.1 0), oklch(0.4 0.1 0));
  --bcc-color-1: light-dark(oklch(1 0.1 50), oklch(0.4 0.1 50));
  --bcc-color-2: light-dark(oklch(1 0.1 100), oklch(0.4 0.1 100));
  --bcc-color-3: light-dark(oklch(1 0.1 150), oklch(0.4 0.1 150));
  --bcc-color-4: light-dark(oklch(1 0.1 200), oklch(0.4 0.1 200));
  --bcc-color-5: light-dark(oklch(1 0.1 250), oklch(0.4 0.1 250));
  --bcc-color-6: light-dark(oklch(1 0.1 300), oklch(0.4 0.1 300));

  color-scheme: light dark;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  border: unset;
  outline: unset;
  background: unset;
  color: inherit;
  font: inherit;
}

body {
  background-color: canvas;
  color: canvastext;
  font: normal 1rem/1 ui-monospace, monospace;
}

form {
  display: flex;
  flex-flow: column;
  gap: 1em;
  padding: 3em;
}

fieldset {
  counter-reset: options;
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 1em;
}

label {
  counter-increment: options;
  display: inline-flex;
  align-items: center;
  padding: 0.25ch;
  border-radius: 0.25ch;
  cursor: pointer;
  text-transform: lowercase;
  user-select: none;

  transition: background-color 0.2s ease-in-out;

  &:has(:focus-visible) {
    outline: 3px solid;
    outline-offset: 2px;
  }

  &::before {
    content: counter(options, decimal-leading-zero);
    display: block;
    width: 4ch;
    text-align: center;
    opacity: 0;

    transition: opacity 0.2s ease-in-out;
  }

  :has(#showIdsInput:checked) &::before {
    opacity: 1;
  }

  :has(#showHighlightsInput:checked) & {
    &:nth-child(1) {
      background-color: var(--bcc-color-1);
    }

    &:nth-child(2) {
      background-color: var(--bcc-color-3);
    }
  }
}

.bracketed {
  display: contents;

  &::before {
    content: '[';
    display: block;
    width: 2ch;
    text-align: start;
  }

  &::after {
    content: ']';
    display: block;
    width: 2ch;
    text-align: end;
  }
}


input[type="checkbox"] {
  appearance: none;
  display: grid;
  place-content: center;
  margin-inline-end: 1ch;
  aspect-ratio: 1 / 1;
  width: 1em;
  border-block-end: 1px solid;

  &::after {
    content: '\00a0';
  }

  &:checked::after {
    content: '\2713';
  }
}

footer {
  display: flex;
  gap: 2ch;
  align-items: baseline;
}

@property --bracket-width {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 8%;
}

button {
  position: relative;
  display: grid;
  place-content: center;
  padding: 1ch 2ch;
  border-radius: 0.25ch;
  cursor: pointer;
  text-transform: lowercase;
  user-select: none;

  transition: --bracket-width 0.2s ease-in-out, background-color 0.4s ease-in-out;

  &:hover,
  &:focus-visible {
    --bracket-width: 50%;

    background-color: var(--bcc-color-5);
  }

  &:focus-visible {
    outline: 3px solid;
    outline-offset: 2px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid;
    clip-path: polygon(0 0, var(--bracket-width) 0, var(--bracket-width) 100%, calc(100% - var(--bracket-width)) 100%, calc(100% - var(--bracket-width)) 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

output {
  display: none;
  color: color-mix(in srgb, currentcolor, var(--bcc-color-3) 30%);
  opacity: 1;

  transition: opacity 0.2s ease-in-out;

  @starting-style {
    opacity: 0;
  }
}
